<h1>Приветствую тебя, {{user}}!</h1>
<script src='logout.js'></script>
<input id='logOutButton' type="button" value='Выход'>

<h1>Приветствую тебя, {{user}}!</h1>
<a href="/signup">Регистрация</a>
<br>
<a href="/login">Вход</a>
<a href="/buble">Бублик</a>