<a href="/">Обратно</a>
<h2>Вход</h2>
<form>
	<input type="text" name='nickname'>
	<br>
	<input type="password" name='password'>
	<br>
	<input id='logInButton' type="button"  value='Войти'>
</form>
<script src='login.js'></script>