<a href="/">Обратно</a>
<h2>Регистрация</h2>
<form>
	<input type="text" name='nickname'>
	<br>
	<input type="password" name='password'>
	<br>
	<input id='signUpButton' type="button"  value='Зарегистрироваться'>
</form>
<script src='signup.js'></script>